.dragdrop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.elements-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.drag-table-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--m5)
}

.visualisation-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.visualisation-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.select-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--r10);
  height: 49px;
  width: 350px;
  border: 1px solid black;
  padding: var(--m3);
}

.dragdrop-table {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dragdrop-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dragdrop-tag {
  display: flex;
  background-color: var(--gray3);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 28px;
  padding: var(--m3) var(--m4);
  font-family: "InterMedium";
  font-size: 14px;
  font-weight: 400;
  border-radius: var(--r5);
}

.type-column {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: var(--m3);
}

.separation-line {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid var(--gray2);
}

.project-card {
  width: 90%;
  height: auto;
  border-radius: var(--r10);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.project-card p {
  word-wrap: break-word;
}

.buttons-position {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  border-radius: var(--r10);
  color: black;
  min-height: var(--btn-h);
  font-family: "DMSansMedium";
  font-size: 16px;
  gap: var(--m2);
  color: white;
  background-color: var(--red);
}

.documentdownButton {
  width: 350px;
  height: 49px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  align-items: center;
  padding: var(--m4);
}

.campaign-box .documentdownButton {
  margin-left: var(--m4);
}

.documentTypeLabel {
  font-family: "InterRegular";
  font-size: 16px;
}

.selectedValue {

  font-family: "InterMedium";
  font-size: 16px;
}

.documentdownButtonOpen {
  width: 350px;
  height: 49px;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  border: none;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "InterRegular";
  font-size: 16px;
  padding: var(--m4);
}

.campaign-box .documentdownButtonOpen {
  margin-left: var(--m8);
}

.documentdownListStick {
  padding: 0;
  margin: 0;
  transform: translateY(49px);
  width: 350px;
  height: auto;
  list-style: none;
  background-color: white;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: absolute;
  font-family: "InterMedium";
  font-size: 16px;
}

.documentdownListItem {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  font-family: "InterMedium";
  font-size: 16px;
}


.documentdownItem {
  width: 350px;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "InterMedium";
  font-size: 16px;
  padding: var(--m4)
}

.documentdownItem:hover {
  background-color: var(--orange);
}




/* SIDEPANEL FORM */

.sidepanel-projects-container {
  width: 500px;
  height: 100vh;
  background-color: white;
  border-radius: 30px 0 0 30px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 40px;
  z-index: 999;
  border-top-left-radius: var(--r7);
  border-bottom-left-radius: var(--r7);
  box-shadow: var(--sh-xl);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: showSidepanel;
  animation-duration: .5s;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 80px;
}


.sidepanel-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drag-button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidepanel-button {
  display: flex;
  flex-direction: row;
}

.sidepanel-button-style {
  font-family: "InterRegular", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray6);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--m2);
}

.sidepanel-project-form {
  display: flex;
  flex-direction: column;
  gap: var(--m3);
}

.projectname-box {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
}


.sidepanel-title {
  font-family: "InterRegular";
  font-size: 10px;
  color: var(--gray4);
}

.description-box {
  height: 120px;
  display: flex;
  flex-direction: column;
}

.title-text {
  width: 100%;
  height: 100%;
  font-family: "DMSansBold";
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
  resize: none;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description-text {
  width: 100%;
  height: 100%;
  font-family: "DMSansRegular";
  font-size: 12px;
  color: var(--gray4);
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  resize: none;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: var(--m2);
}

.campaign-box {
  height: auto;
}



/*CREATE CARD - CARD*/

.card-box-container {
  width: 286px;
  height: auto;
  gap: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.drag-profile-info {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.drag-profile-info img {
  border-radius: var(--round);
  /* border: 3px solid var(--orange); */
}

.title-project {
  height: auto;
  font-family: "DMSansBold";
  font-size: 18px;
  overflow-wrap: break-word;
}

.description-project {
  height: auto;
  font-family: "InterLight";
  font-size: 14px;
  color: var(--gray4);
  overflow-wrap: break-word;
}





